<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wuzhiming.myapplication">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".CustomeWidegetActivity"></activity>
        <activity android:name=".itext.PdfAboutActivity2" />
        <activity android:name=".itext.PdfAboutActivity" />
        <activity android:name=".WidegetAboutActivity" />
        <activity android:name=".LoadingTestActivity" />
        <activity android:name=".jetpacktest.NormalUseActivity" />
        <activity android:name=".jetpacktest.JetPackTestActivity" />
        <activity
            android:name=".recyexpansion.FlowActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".service.ServiceUseActivity" />

        <service
            android:name=".service.AIDLService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="suisuibianbian" />
                <!-- <action android:name="com.example.wuzhiming.myapplication.action" /> -->

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <activity android:name=".recyexpansion.DecorationTestActivity" />
        <activity android:name=".recyexpansion.RecyItemClipActivity" />
        <activity android:name=".coordinatorlayout.RecyDistanceListenerActivity" />
        <activity android:name=".coordinatorlayout.PushNestedScrollUseActivity" />
        <activity android:name=".DialogTestActivity" />
        <activity android:name=".uieffect.ShadowActivity" />
        <activity android:name=".uieffect.UiEffectActivity" />
        <activity android:name=".coordinatorlayout.TitleGradientAnimateActivity" />
        <activity
            android:name=".textexpansion.TextActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".recyexpansion.suspension.WXReadDemoActivity" />
        <activity
            android:name=".immerse.ImmerseWebviewActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".immerse.ImmerseActivity" />
        <activity android:name=".intent.JumpActivity" />
        <activity android:name=".intent.AliasActivity" />

        <activity-alias
            android:name=".intent.JumpActivity"
            android:targetActivity=".intent.AliasActivity" />

        <activity android:name=".intent.IntentActivity" />
        <activity android:name=".shape.BottomLineActivity" />
        <activity android:name=".shape.ShapeActivity" />
        <activity android:name=".coordinatorlayout.HeaderAnimatorActivity" />
        <activity android:name=".period.PeriodActivity" />
        <activity android:name=".recyexpansion.diff.DiffActivity" />
        <activity android:name=".recyexpansion.Main13Activity" />
        <activity android:name=".customCamera.Main11Activity" />
        <activity android:name=".customCamera.CameraActivity" />
        <activity android:name=".customCamera.PhotoActivity" />
        <activity android:name=".shape.DottedLineActivity" />
        <activity
            android:name=".coordinatorlayout.Main9Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".coordinatorlayout.Main6Activity"
            android:theme="@style/noActionAndStausTransparent" />
        <activity android:name=".coordinatorlayout.Main8Activity" />
        <activity android:name=".Main7Activity" />
        <activity
            android:name=".Main5Activity"
            android:theme="@style/dialogActivityTheme" />
        <activity android:name=".immerse.Main4Activity" />
        <activity android:name=".recyexpansion.Main3Activity" />
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TranslucentActivity"
            android:theme="@android:style/Theme.Translucent" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>